<div class="container">
  <h1>Login</h1>
  <form class="form-container" (ngSubmit)="userLogin()">
    <div class="label-input-container">
      <label class="label username">username</label>
      <input class="input username" [(ngModel)] ="user.username" type="text" id='username' name='username'>
    </div>
    <div class="label-input-container">
      <label class="label password">password</label>
      <input class="input password" [(ngModel)]="user.password" type="password" id='password' name='password'>
    </div>
    <button class="button" type="submit">
      Iniciar Sesion
    </button>
  </form>
</div>
