.container {
  background-color: darkgrey;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  justify-content: center;
}

h1 {
  padding: 0.5em;
}

.form-container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.label-input-container {
  display: flex;
  align-items: center;
  gap: 1em
}

.label {
  font-weight: 500;
  font-size: 1.3em;
}

.input {
  padding: 0.6em;
}

.button {
  background-color: white; /* Green */
  border: 2px solid #e7e7e7;
  color: black;
  padding: 0.8em 1.5em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-size: 1.1em;
  transition-duration: 0.2s;
  cursor: pointer;
  margin-top: 1em;
}

.button:hover {
  background-color: #ddd;
  color: black
}
